<div class="container text-center">

  <table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Exchange</th>
        <th>Currency</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks">
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.name }}</td>
        <td>{{ stock.exchange }}</td>
        <td>{{ stock.currency }}</td>
      </tr>
    </tbody>
  </table>
  
  <button type="button" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Registrar Trade
  </button>
  
  <app-modal-register-trade></app-modal-register-trade>

  <app-table-trades></app-table-trades>
</div>
